@model EmpireMap.Models.LimitedPageModel
@{
    ViewBag.Title = "Wartesaal";
}
@section featured {
    @Html.Action("Limited")
}
@if (Model.Player.PlayerId == 0)
{
    ViewBag.Message = "Für die Freischaltung musst Du Deine Ingame-Daten unten angeben.";
}
<h2>Bitte prüfe Deine Daten</h2>
@{
    ViewBag.PlayerLegend = "Deine Ingame-Daten:";
}
@Html.Partial("_PlayerData",Model.Player)
@Html.Partial("_CastleData",Model.Castles)
