@{
    ViewBag.Title = "Info";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<article>
    <p>
        Diese Seite ist für das Spiel <a href="http://empire.goodgamestudios.com/" target="_blank">Empire</a>.
    </p>
    <p>
        Unsere Allianz ist Braveheart:
        <ul>
            <li>Braveheart</li>
            <li>~Braveheart~</li>
        </ul>
    </p>
    <h5>WIR GEBEN NIEMALS AUF UND STEHEN FÜR GERECHTIGKEIT UND FREIHEIT.</h5>
    <p>Weitere Informationen im <a href="http://bravehearts.xobor.de/" target="_blank">Forum</a>.</p>
</article>
