@model EmpireMap.Models.Castle

@if (!User.IsInRole("Benutzer"))
{
    @section featured {
        @Html.Action("Limited")
    }
}
<h5>Lege eine neue Burg an</h5>
@Html.Partial("_CastleEdit")
@Html.Partial("_CastleData", (ICollection<EmpireMap.Models.Castle>) ViewBag.Castles)